<head>
</head>
<body>
  <div id="rapper-info">
    <h2 name="rapper-name">Name</h2>
	<p name="rapper-desc"></p>
  </div>
<script>
<% @rappers.each do |rapper| %>
  var r = JSON.parse('<%= j(rapper.to_json).html_safe %>');
  var rapper = new Rapper(r.name, r.year);
  
  if(r.beef){
    var beefList = getElementsFromString(r.beef, ',');
    for(var b in beefList){
      rapper.setBeef(beefList[b]);
    }
  }

  if(r.influenced){
    var influenceList = getElementsFromString(r.influenced, ',');
    for(var i in influenceList){
      rapper.setInfluenced(influenceList[i]);
    }
  }

  if(r.collaborated){
    var collabList = getElementsFromString(r.collaborated, ',');
    for(var c in collabList){
      rapper.setCollaborated(collabList[c]);
    }
  }

  rapper.setPresence();

  rapper.mImagePath = r.image_path || "assets/default.png";
  rapperArray.push(rapper);
<% end %>
</script>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>

var presenceSectionCount = getRapperArrayExtremes('mPresence')[1] - getRapperArrayExtremes('mPresence')[0];
var presenceSectionYIncrement = height / presenceSectionCount;
presenceSections.push([0, presenceSectionYIncrement]);

for(var i = 0; i < presenceSectionCount-1; i++){
  var lastUpperBound = presenceSections[i][1];
  presenceSections.push([lastUpperBound, lastUpperBound+presenceSectionYIncrement]);
}

function getPresenceSection(yCoord){
  var presenceSection = [0, presenceSectionYIncrement];
  for(var i in presenceSections){
	if(yCoord >= presenceSection[i][0] && yCoord <= presenceSection[i][1]){
	  presenceSection = presenceSections[i];
	}
  }

  return presenceSection;
}
 
function setOriginalColors(){
  d3.selectAll("path.path").each(function(){
    this.originalColor = d3.select(this).attr("stroke");
  });
  d3.selectAll("marker.marker").each(function(){
    this.originalColor = d3.select(this).attr("fill");
  });
  d3.selectAll("circle.rapper").each(function(){
    this.originalColor = d3.select(this).attr("fill");
  });
}

/*
* takes in an object with x, y, radius member variables
*/
function drawLines(coords1, coords2, color='blue'){
  var end = getClosestPoint(coords1, coords2);
  var start = getClosestPoint(coords2, coords1);
  var mid = { x: randomInt(start.x, end.x), y: randomInt(start.y, start.y == end.y ? randomInt(end.y - maxAvatarRadius, end.y + maxAvatarRadius) : end.y) };
  var lineData = [ [start.x, start.y],
  				   [mid.x, mid.y],
 				   [end.x, end.y] ];

  var lineFunction = d3.svg.line()
						   .x(function(d){
						   	    return d[0];
						     })
						   .y(function(d){
						 	    return d[1];
						     })
						   .interpolate("basis");

  var lines = svg.append("path")
			     .attr("d", lineFunction(lineData))
			     .attr("stroke", color)
			     .attr("stroke-width", 2)
			     .attr("fill", "none")
				 .attr("class", "path");

  return lines;
}

function drawMarkers(lines){
  svg.append("defs").append("marker")
  					.attr("id", "arrowhead")
					.attr("refX", 9)
					.attr("refY", 2)
					.attr("markerWidth", 6)
					.attr("markerHeight", 4)
					.attr("orient", "auto")
					.attr("fill", lines[0].attr("stroke"))
					.attr("class", "marker")
					.append("path")
					  .attr("d", "M 0, 0 V 4 L6, 2 Z");

  $(".path").css("marker-end", "url(#arrowhead");
}

function insertPicture(rapper, circle){
  var radius = rapper.mCoords.radius;
  var svgID = "image_" + rapper.mName.replace(/ /g, '');

  svg.append("defs").append("pattern")
  					.attr("id", svgID)
					.attr("patternUnits", "ObjectBoundingBox")
					.attr("height", "100%")
					.attr("width", "100%")
					.attr("viewBox", "0 0 1 1")
					.attr("preserveAspectRatio", "xMidYMid slice")
					.append("image")
					  .attr("x", 0)
					  .attr("y", 0)
					  .attr("height", 1)
					  .attr("width", 1)
					  .attr("preserveAspectRatio", "xMidYMid slice")
					  .attr("xlink:href", rapper.mImagePath);

  circle.attr("fill", "url(#"+svgID+")");
}

</script>
<script>
var svg = d3.select("body")
			.append("svg")
			.attr("width", width + "px")
			.attr("height", height + "px");

var circles = svg.selectAll("circle")
			     .data(rapperArray)
			     .enter()
   			     .append("circle");
  
var xDomain = getRapperArrayExtremes('mYear');
var xScale = d3.scale.linear()
					 .domain([xDomain[0], xDomain[1]])
					 .range([maxAvatarRadius, width - maxAvatarRadius]);
var xAxis = d3.svg.axis()
				  .scale(xScale)
				  .orient("bottom")
				  .ticks(5);
svg.append("g")
   .attr("class", "axis")
   .attr("transform", "translate(0," + (height - maxAvatarRadius) + ")")
   .call(xAxis);

var yDomain = getRapperArrayExtremes('mPresence');
var yScale = d3.scale.linear()
					 .domain([yDomain[0], yDomain[1]])
					 .range([maxAvatarRadius, height - maxAvatarRadius]);

var rDomain = getRapperArrayExtremes('mPresence');
var rScale = d3.scale.linear()
					 .domain([rDomain[0], rDomain[1]])
					 .range([maxAvatarRadius * .25, maxAvatarRadius]);

//'d' is the actual data, 'i' is the index
//cx: function of year
//cy: random; make sure it doesn't overlap w/ other nodes
//    or, could be a function of presence score like 'r'
//	  lower on graph means lower presence
//r:  function of presence score that's calculated using influenced, beef, and collaborated attributes
circles.attr("cx", function(d, i){
			  d.mCoords.x = xScale(d.mYear);
			  return d.mCoords.x;
			})
	   .attr("cy", function(d, i){
	   		  var flatPresenceCoord = yScale(d.mPresence);
			  d.mCoords.y = flatPresenceCoord;
			  var presenceSection = getPresenceSection(flatPresenceCoord.y);
			  d.mCoords.y = randomInt(presenceSection[0], presenceSection[1]);
	   		  return flatPresenceCoord;
			})
	   .attr("r", function(d, i){
	   		  d.mCoords.radius = rScale(d.mPresence);
	   		  return d.mCoords.radius;
	   		})
	   .attr("id", function(d){
	   		  insertPicture(d, d3.select(this));  //move this line
	   		  return d.mName;
			})
	   .attr("class", "rapper");

//many-to-many relationship lines
for(var i in rapperArray){
  var rapper = rapperArray[i];
  for(var b in rapper.mBeef){
    var beef = getRapperFromName(rapper.mBeef[b]);
	if(beef){
  	  rapper.mPaths.beef.push(drawLines(rapper.mCoords, beef.mCoords, "red"));
	
      drawMarkers(rapper.mPaths.beef);
	}
  } 
  for(var inf in rapper.mInfluenced){
    var influenced = getRapperFromName(rapper.mInfluenced[inf]);
	if(influenced){
      rapper.mPaths.influenced.push(drawLines(rapper.mCoords, influenced.mCoords, "green"));
	  drawMarkers(rapper.mPaths.influenced);
	}
  }
  for(var col in rapper.mCollaborated){
    var collab  = getRapperFromName(rapper.mCollaborated[col]);
	if(collab){
      rapper.mPaths.collaborated.push(drawLines(rapper.mCoords, collab.mCoords, "blue"));
	  drawMarkers(rapper.mPaths.collaborated);
	}
  } 
}

setOriginalColors();

$(".rapper").hover(
  function(){
	var rapper = getRapperFromName($(this).attr("id"));
	if(rapper != undefined){
	  //remove all lines
      d3.selectAll("path.path").attr("stroke", "transparent");
      d3.selectAll("marker.marker").attr("fill", "transparent");

	  //keep the lines relative to the rapper highlighted
	  d3.selectAll(rapper.mPaths.beef).each(function(){
	    this.attr("stroke", beefPathColor);
	  });
	  d3.selectAll(rapper.mPaths.influenced).each(function(){
	    this.attr("stroke", influencedPathColor);
      });
	  d3.selectAll(rapper.mPaths.collaborated).each(function(){
	    this.attr("stroke", collabPathColor);
      });

	  $("#rapper-info").find("h2[name='rapper-name']").html(rapper.mName);
	}
  }, 
  function(){
	var rapper = getRapperFromName($(this).attr("id"));
	if(rapper != undefined){
	  //set lines back to original colors
	  d3.selectAll("path.path").each(function(){
	    d3.select(this).attr("stroke", this.originalColor);
	  });
	  d3.selectAll("marker.marker").each(function(){
	  	d3.select(this).attr("fill", this.originalColor);
	  });
	  d3.selectAll("circle.rapper").each(function(){
	  	d3.select(this).attr("fill", this.originalColor);
	  });

	  $("#rapper-info").find("h2[name='rapper-name']").html("Name");
	}
  }
);

</script>
</body>
