<head>

<style>
.chart div{
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.axis path,
.axis line{
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text{
  font-family: sans-serif;
  font-size: 11px;
}
</style>

</head>
<body>
  <h1>Home#index</h1>
  <p>Rappers and stuff.</p>

  <% @rappers.each do |rapper| %>
    <%= rapper.name %> <%= rapper.year %><br/>
  <% end %>

  <div class="chart">
  </div>
<script>
function getElementsFromString(list, delim){
  var elems = list.replace(/, /g, ',').split(delim);
  return elems;
}

function Rapper(name, year){
  this.mName = name;
  this.mYear = year;
  this.mBeef = [];
  this.mInfluenced = [];
  this.mCollaborated = [];
  
  this.mPresence = 0;

  this.mCoords = { x: 0, y: 0 };
}

Rapper.prototype = {
  setBeef: function(beefWith){
    this.mBeef.push(beefWith);
  },
  
  setInfluenced: function(influenced){
    this.mInfluenced.push(influenced);
  },

  setCollaborated: function(collaborater){
    this.mCollaborated.push(collaborater);
  },

  setPresence: function(){
    this.mPresence = this.mBeef.length + this.mInfluenced.length + this.mCollaborated.length;
  },
};

var rapperArray = [];

<% @rappers.each do |rapper| %>
  var r = JSON.parse('<%= j(rapper.to_json).html_safe %>');
  var rapper = new Rapper(r.name, r.year);
  
  if(r.beef){
    var beefList = getElementsFromString(r.beef, ',');
    for(var b in beefList){
      rapper.setBeef(beefList[b]);
    }
  }

  if(r.influenced){
    var influenceList = getElementsFromString(r.influenced, ',');
    for(var i in influenceList){
      rapper.setInfluenced(influenceList[i]);
    }
  }

  if(r.collaborated){
    var collabList = getElementsFromString(r.collaborated, ',');
    for(var c in collabList){
      rapper.setCollaborated(collabList[c]);
    }
  }

  rapper.setPresence();

  rapperArray.push(rapper);
<% end %>
</script>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
function getRapperFromName(name){
  var rapper = null;

  for(var r in rapperArray){
    if(name === rapperArray[r].mName){
	  rapper = rapperArray[r];
	}
  }

  return rapper;
}

function drawLines(x1, y1, x2, y2, color='blue'){
  var lineData = [ [x1, y1],
 				   [x2, y2] ];

  var lineFunction = d3.svg.line()
						   .x(function(d){
						   	    return d[0];
						     })
						   .y(function(d){
						 	    return d[1];
						     })
						   .interpolate("linear");

  var lines = svg.append("path")
			     .attr("d", lineFunction(lineData))
			     .attr("stroke", color)
			     .attr("stroke-width", 2)
			     .attr("fill", "none");
  return lines;
}
</script>
<script>
var maxAvatarRadius =  25;
var width = 500;
var height = 500;

var svg = d3.select("body")
			.append("svg")
			.attr("width", width + "px")
			.attr("height", height + "px");

var circles = svg.selectAll("circle")
			     .data(rapperArray)
			     .enter()
   			     .append("circle");
  
var xDomain = getExtremes(rapperArray, 'mYear');
var xScale = d3.scale.linear()
					 .domain([xDomain[0], xDomain[1]])
					 .range([maxAvatarRadius, width - maxAvatarRadius]);
var xAxis = d3.svg.axis()
				  .scale(xScale)
				  .orient("bottom")
				  .ticks(5);
svg.append("g")
   .attr("class", "axis")
   .attr("transform", "translate(0," + (height - maxAvatarRadius) + ")")
   .call(xAxis);

var yDomain = getExtremes(rapperArray, 'mPresence');
var yScale = d3.scale.linear()
					 .domain([yDomain[0], yDomain[1]])
					 .range([maxAvatarRadius, height - maxAvatarRadius]);

var rDomain = getExtremes(rapperArray, 'mPresence');
var rScale = d3.scale.linear()
					 .domain([rDomain[0], rDomain[1]])
					 .range([maxAvatarRadius * .25, maxAvatarRadius]);

//'d' is the actual data, 'i' is the index
//cx: function of year
//cy: random; make sure it doesn't overlap w/ other nodes
//    or, could be a function of presence score like 'r'
//	  lower on graph means lower presence
//r:  function of presence score that's calculated using influenced, beef, and collaborated attributes
circles.attr("cx", function(d, i){
			  d.mCoords.x = xScale(d.mYear);
			  return d.mCoords.x;
			})
	   .attr("cy", function(d, i){
	   		  d.mCoords.y = yScale(d.mPresence);
	   		  return d.mCoords.y;
			})
	   .attr("r", function(d, i){
	   		  return rScale(d.mPresence);
	   		}); 

//many-to-many relationship lines
for(var i in rapperArray){
  var rapper = rapperArray[i];
  for(var b in rapper.mBeef){
    var beef = getRapperFromName(rapper.mBeef[b]);
    drawLines(rapper.mCoords.x, rapper.mCoords.y, beef.mCoords.x, beef.mCoords.y, 'red');
  }
  for(var inf in rapper.mInfluenced){
    var influenced = getRapperFromName(rapper.mInfluenced[inf]);
    drawLines(rapper.mCoords.x, rapper.mCoords.y, influenced.mCoords.x, influenced.mCoords.y, 'green');
  }
  for(var col in rapper.mCollaborated){
    var collab  = getRapperFromName(rapper.mCollaborated[col]);
    drawLines(rapper.mCoords.x, rapper.mCoords.y, collab.mCoords.x, collab.mCoords.y, 'blue');
  }
}
</script>
</body>
